---
/**
 * PostCard - Blog post preview component
 *
 * Features:
 * - Link prefetching on hover for instant navigation
 * - Semantic HTML structure
 */

import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const postUrl = `/blog/${post.slug}`;
---

<li class="post-item">
  <div class="post-content">
    <div class="post-head">
      <a href={postUrl} class="post-title" data-astro-prefetch="hover">
        {post.data.title}
      </a>
      <FormattedDate date={post.data.date} className="post-date" />
    </div>
    <p class="post-summary">{post.data.summary}</p>
  </div>
</li>
